/target/
/.settings/
/.classpath
.project
.idea/
/bin/
/*.iml
*.gz
/react/code/code/react_demo/prepare/*
/vue_project/movie-view/node_modules/
/vue_project/movie-view/dist/
/vue_project/movie-view/npm-debug.log*
/vue_project/movie-view/yarn-debug.log*
/vue_project/movie-view/yarn-error.log*
/vue_project/movie-view/test/*
/vue_project/movie-view/.*
/vue_project/movie-view/static/
/node-js/*

/vue_project/shop-client/node_modules/
/vue_project/shop-client/dist/
/vue_project/shop-client/npm-debug.log*
/vue_project/shop-client/yarn-debug.log*
/vue_project/shop-client/yarn-error.log*
/vue_project/shop-client/test/*
/vue_project/shop-client/.*
/vue_project/shop-client/static/
